@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700900,display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	font-family: 'Poppins' , sans-serif;
}

.container
{
	position: relative;
	padding: 0 100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
}